.thank-you-container {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    /* We do align-items, NOT justify-content  */
    /* Because justify-content is for the MAIN axis (Across) */
    /* Whereas align-items is for the COLUMN */
    /* Flexbox also only aligns the elements, NOT the text inside them */
    /* What we're doing here is: "Stack all child elements vertically, */
    /* And then, center EACH entire box horizontally */
}

.contact-title {
    font-size: 6rem;
}

.paragraph-1 {
    width: 900px;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
    /* By default: All paragraphs are text-align left */
}

.paragraph-2 {
    width: 900px;
    text-align: center;
    /* Already works and is aligned center */
    font-size: 2.5rem;
    margin-bottom: 45px;
}

.contact-me-photo {
    border-radius: 25%;
    width: 500px;
    height: 400px;
    margin-bottom: 40px;
}

.contact-form {
    width: 600px;
    width: 50%;
    min-height: 100vh;
    display: flex;
    border: 10px black;
    margin-bottom: 50px;
    flex-direction: column;
}

.input-box {
    font-size: 2.5rem;
}

.field {
    font-size: 1.5rem;
    height: 50px;
    margin-left: 20px;
    width: 175px;
    border-radius: 20px;
}

.msg-field {
    border-radius: 20px;
    font-size: 1.5rem;
    height: 50px;
    margin-left: 20px;
}

.send-msg {
    border-radius: 20px;
    height: 50px;
    font-size: 1.5rem;
}