@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 60px;
    min-height: 75vh;
    box-sizing: border-box;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 75px;
    border-style: groove;
    padding: 100px;
    margin: 60px;
    background-color: #ABD2FA;
    font-size: 25px;
    max-width: 800px;
}

.my-photo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

.intro-text {
    max-width: 600px;
    font-size: 30px;
}

