.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 35px;
    z-index: 999;
    /* Ensures that the footer will stay "on top" of other content */
}