@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dongle", sans-serif;
    text-decoration: none;
}

.bar-container {
    background-color: #beadad;
    height: 80px;
}

.navbar {
    border-radius: 50%;
    border-color: black;
    width: 100%;    /* padding: 20px 18px; */
    font-size: 25px;
    text-decoration: none;
}

.navbar a {
    color: #896c6c;
}
/* First time view before ANY interaction */

.navbar a:hover {
    color: #735b5b;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}
/* Mouse hovers over it */

.navbar a:visited:hover {
    color: #735b5b;
}
/* Ensures visited links still change on hover */

.navbar a:visited {
    color: #5d4a4a;
}

/* Having some troubleshooting issues here */
/* CSS specificity & cascade issue encountered */
/* When trying to apply both visited and hover, visited may override hover for certain properties */
/* Color is one of them! */

.nav-options {
    padding: 15px 7%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

.nav-options li {
    margin-left: 50px;
} 

.nav-options li:active {
    color: rgba(235, 195, 160, 0.947);
}

.icon {
    margin-bottom: 10px;
    margin-right: 5px;
}