@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dongle", sans-serif;
    text-decoration: none;
}

.navbar {
    border-radius: 50%;
    border-color: black;
    width: 100%;    /* padding: 20px 18px; */
    font-size: 25px;
}

.nav-options {

    padding: 15px 7%;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.nav-options li {
    margin-left: 25px;
} 