.project-container {
    display: flex;
    flex-direction: column;
    min-height: 600px;
    align-items: center;
    margin: 10px;
    background: white;
    border-radius: 12px;
    padding: 1.5rem;
    font-size: 2rem;
}

.project-image {
    width: 90%;
    height: 250px;
    margin-bottom: 10px;
    object-fit: contain;
}

.project-container:hover {
    transform: scale(1.05);
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.code-button {
    background-color: rgba(193, 178, 178, 0.914);
    width: 35%;
    font-size: 2.0rem;
    border-radius: 20px;
    border: none;
    margin-top: auto;
    padding: 15px;
}

.code-button a:link, a:hover, a:visited {
    color: black;
}

.code-button:hover {
    background-color: rgba(235, 195, 160, 0.947);
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.code-button:active {
    background: rgba(194, 155, 120, 0.947);
}

.tech-stack-title {
    margin-top: auto;
    border; none;
}

.tech-stack-container {
    display: flex;
    padding: 20px;
    gap: 50px;
    margin-top: auto;
    margin-bottom: 15px;
}

/* Hover animation source: https://www.shecodes.io/athena/3020-how-to-use-hover-to-expand-a-button-in-css#:~:text=In%20CSS%2C%20you%20can%20make,can%20use%20the%20%3Ahover%20selector.&text=In%20this%20example%2C%20the%20transform,the%20mouse%20hovers%20over%20it. */
/* Stack overflow resource: https://stackoverflow.com/questions/19469495/css-slow-hover-effect */
/* Stack overflow resource to push code button to the bottom of the card: https://stackoverflow.com/questions/60094612/how-would-i-push-the-button-to-the-bottom-of-the-css-flexbox-in-such-case */